<ion-view title="Emergency action" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="emergencyAction-heading14" style="color:#CC315B;">Emergency Action</h1>
    <div>
      <img src="img/zljKR4sWThugjlgvMj9h_APPROVED_10Oct12_First_Aid_pro.ac640798.fill-960x540-c70.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="emergencyAction-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>An emergency is a situation where someone needs help quickly. That person may have been badly hurt in an accident, or they might be ill or unresponsive.</strong>
      </p>
    </div>
    <div id="emergencyAction-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This section is all about how you can get help in this type of
        <strong>situation</strong>. It will help you:</p>
    </div>
    <div class="item item-body" id="emergencyAction-list-item-container2">
      <div id="emergencyAction-markdown26" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">-learn when to get adult
          <strong>help</strong>
        </p>
      </div>
      <div id="emergencyAction-markdown27" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">-know how to call 999 and what to say to the operator</p>
      </div>
      <div id="emergencyAction-markdown28" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">-keep
          <strong>calm</strong> and help the person not to worry.</p>
      </div>
    </div>
  </ion-content>
</ion-view>