<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/z4ClJaISQz6m4DPvDbkX_1489913100_H_sign_hospital_hospital_sign_hospital__medical__road_sign.svg" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="home-heading2" style="color:#CC315B;">Welcome to First aid education for children</h1>
    <div id="home-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">We believe
        <strong>first aid</strong> is a life skill that everyone can and should learn. We want all
        <strong>6 – 11</strong> year olds in the Thailand to have the opportunity to learn the skills and gain the confidence to
        <strong>save lives!</strong>
      </p>
    </div>
    <ion-list id="home-list4">
      <ion-item class="item-thumbnail-left assertive" id="home-list-item18" ui-sref="menu.whatIsFirstAid">
        <img src="img/yP2P1l5RSMuH9mF1jF4F_1489914929_Help_info_notification_information_sign.svg">
        <h2assertive>What is first aid?
          <p>Find out about first aid and why it is important</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item19" ui-sref="menu.staySafe">
        <img src="img/p4ZRZnenRFOBfc2xKjVZ_1489914896_game_sports_football_Ball_basketball.svg">
        <h2assertive>Stay safe
          <p>Be aware of danger to avoid accidents</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item20" ui-sref="menu.helpSaveLives">
        <img src="img/0imUDGZ2TseCaY267md3_1489914340_Hdd_hard_disk_data_data_storage_storage_ide.svg">
        <h2assertive>Help save lives
          <p>How you can help others in a first aid emergency</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item21" ui-sref="menu.emergencyAction">
        <img src="img/UCxvpamTzqXoigFzRQtT_1489914954_Measure_speed_stopwatch_time_timepiece_timer.svg">
        <h2assertive>Emergency action
          <p>Learn what to do and who to call in an emergency Enter</p>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>