<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="assertive" id="menu-list-item1" ui-sref="menu.home" menu-close="">Home</ion-item>
        <ion-item class="assertive" id="menu-list-item2" ui-sref="menu.whatIsFirstAid" menu-close="">What is first aid?</ion-item>
        <ion-item class="assertive" id="menu-list-item3" ui-sref="menu.staySafe" menu-close="">Stay safe</ion-item>
        <ion-item class="assertive" id="menu-list-item16" ui-sref="menu.helpSaveLives" menu-close="">Help save lives</ion-item>
        <ion-item class="assertive" id="menu-list-item17" ui-sref="menu.emergencyAction" menu-close="">Emergency action</ion-item>
        <ion-item class="assertive" id="menu-list-item35" ui-sref="menu.help" menu-close="">Help</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>